*
{
    margin: 0;
    padding: 0;
    transition: 1s;
}

body
{
    background-color: rgba(74, 185, 185, 1); /* rgba utiliza canal alfa para manejar transparencias */
    display: grid;;
    height: 100vh;
    
}

div
{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    align-items: center;
    
}

div:hover
{
    background-color: rgba(0, 0, 0, 0.4);
    
}

section 
{
    width: 310px;
    height: 310px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin: auto;
    /* transform: translateY(50%); no aplicable a mobile */
}

h2
{
    font-family: Arial;
    font-size: 85px;
    text-align: center;
}

.X
{
    color: red;
}

.O
{
    color: blue;
}